<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="throttled" default="false"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <!-- Added files for link_attacher -->
    <arg name="paused" value="true"/>
  </include>
  

  <!-- send robot urdf to param server  -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find miiwa_description)/robots/iiwa_gripper.urdf.xacro'" /> 

    <param name="obj1_description" command="$(find xacro)/xacro.py '$(find miiwa_description)/robots/object1.urdf.xacro'"/>
  
    <rosparam file="$(find miiwa_controllers)/config/joint_state_controller.yaml" command="load"/>
    <rosparam file="$(find miiwa_controllers)/config/arm_controller.yaml" command="load"/> 
    <rosparam file="$(find miiwa_controllers)/config/base_controller.yaml" command="load"/>
    <rosparam file="$(find miiwa_controllers)/config/gripper_controller.yaml" command="load"/> 
 
 

  <!-- publish frames to tf -->
  <node name="miiwa_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  </node> 
  <!-- spawn the robot -->
 <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args=" 
    -x 0.0 -y -0.0 -z 0.0 -R 0 -P 0 -Y 0 -unpause -urdf -param robot_description  -model miiwa
    -J lbr_iiwa_joint_1 0.065 -J lbr_iiwa_joint_2 0.628 -J lbr_iiwa_joint_3 -0.0 -J lbr_iiwa_joint_4 -1.37 -J lbr_iiwa_joint_5 0.0 -J lbr_iiwa_joint_6 1.11 -J lbr_iiwa_joint_7 0.882 -J schunk_wsg50_joint_left_jaw 0.2 -J schunk_wsg50_joint_right_jaw 0.3
     " 
    respawn="false" output="screen" /> 



  <node name="spawn_object_model" pkg="gazebo_ros" type="spawn_model" args=" 
    -x 0.0 -y -0.0 -z 0.0 -R 0 -P 0 -Y 0 -unpause -urdf -param obj1_description  -model obj1" respawn="false" output="screen" />  

 <node name="default_controllers_spawner" pkg="controller_manager" type="spawner"  respawn="true" output="screen"
    args="gripper_controller arm_controller joint_state_controller" />


 </launch>